.square {
  width: 320px;
  height: 320px;
  border: 1px solid black;
  transition: all 1s;
  box-sizing: border-box;
}

.top {
  border-top: 20px solid orange;
}
.right {
  border-right: 20px solid orange;
}
.bottom {
  border-bottom: 20px solid orange;
}
.left {
  border-left: 20px solid orange;
}
