.time_signature ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
}

.time_signature li {
  width: 60px;
  cursor: pointer;
  margin: 3px;
  padding: 5px;
  border: 1px solid rgb(54, 132, 134);
  border-radius: 10px;
  user-select: none;
}

.time_signature li:hover {
  /* box-shadow: inset 0px 0px 15px 0.5px cadetblue; */
  background-color: cadetblue;
}

.changeBackground {
  background-color: orange;
}

@media (max-width: 820px) {
  .time_signature ul {
    margin-bottom: 20px;
  }
}
