.stick {
  width: 300px;
  height: 3px;
  background-color: gray;
  transform: translate(0px, 0px) rotate(90deg);
  transition: 0.3s;
  transform-origin: top right;
}
.stick_fast {
  transition: 0.3s;
}
.stick_border {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}

.left {
  transform: translate(-150px, 150px) rotate(45deg);
}
.right {
  transform: translate(-150px, 150px) rotate(135deg);
}
