.metro_element_root {
  display: flex;
  position: relative;
}

.tempo_figure_element {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 100px;
}

.metronome_place {
  height: 23rem;
  width: auto;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
}

@media (max-width: 820px) {
  .tempo_figure_element {
    position: inherit;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    left: 0px;
  }
  .metro_element_root {
    flex-direction: column;
  }
} ;
