.metro_element_root {
  display: flex;
  justify-content: space-evenly;
}

.tempo_figure_element {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.metronome_place {
  height: 23rem;
  width: auto;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  background-image: url("../assets/metronome1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.third_element {
  flex: 1;
}

@media (max-width: 820px) {
  .tempo_figure_element {
    /* position: inherit; */
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  .metro_element_root {
    flex-direction: column;
  }
} ;
